<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <id>Signeiros</id>
    <version>1.0</version>
    <name>Signeiros</name>
    <description>Fichas para Signeiros</description>
    <author>Luigi Takeo Kita</author>
    <site></site>
    <contact>luigikita@gmail.com</contact>
</module>
