<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b">
    <id>Signeiros</id>
    <version>1.0.9</version>
    <info lang="pt-BR">
        <name>Signeiros</name>
        <description>Fichas para Signeiros</description>
        <author>Luigi Takeo Kita</author>
        <contact>luigikita@gmail.com</contact>
    </info>
</module>
